# OpenRouter Configuration (for chat/LLM)
OPENROUTER_API_KEY=
OPENROUTER_TEXT_MODEL=
OPENROUTER_HTTP_REFERER=http://localhost:3000
OPENROUTER_X_TITLE=Song-Recommender

LANGSMITH_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=song-highlights

DB_PORT=5496
DB_NAME=song_recommender
DB_PASS=mysecretpassword
DB_HOST=sh-db
